* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: cursive;
  text-transform: capitalize;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: bisque;
}

#numbers-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: fit-content;
  transform: translate(-50%, -50%) scale(1);
  height: 80px;
  width: 130px;
  transition: transform 0.5s ease;
}

h3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
}
#lower-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: fit-content;
  transform: translate(-50%, -30%);
  text-align: center;
}
#lower-container > * {
  margin: 10px;
}

#try {
  background-color: blueviolet;
  border: 0;
  border-radius: 4px;
  padding: 5px;
  color: white;
  cursor: pointer;
  outline: 0;
}
#numbers {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  width: 230px;
  overflow: hidden;
}

#numbers span {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 30px;
  color: blueviolet;
  transform: translateX(-50%) rotate(110deg);
  transform-origin: center bottom;
  height: 60px;
  width: 50px;
  text-align: center;
}
#numbers span.in {
  animation: in 0.6s forwards ease-in-out;
}
#numbers span.out {
  animation: out 0.3s forwards ease-in-out;
  transform: translateX(-50%) rotate(-120deg);
}

#numbers-container.hide {
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
}

#lower-container.showL {
  animation: showLanim 0.4s forwards ease-in-out;
}
#lower-container.hideL {
  animation: hideLanime 0.2s forwards ease-in-out;
}

@keyframes in {
  0% {
    transform: translateX(-50%) rotate(120deg);
  }
  75% {
    transform: translateX(-50%) rotate(-15deg);
  }
  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}
@keyframes out {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  25% {
    transform: translateX(-50%) rotate(10deg);
  }
  100% {
    transform: translateX(-50%) rotate(-110deg);
  }
}

@keyframes showLanim {
  0% {
    transform: translate(-50%, -30%) scale(5);
  }
  60% {
    transform: translate(-50%, -30%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -30%) scale(1.2);
  }
}
@keyframes hideLanime {
  0% {
    transform: translate(-50%, -30%) scale(1);
  }

  100% {
    transform: translate(-50%, -30%) scale(0);
  }
}
